.button-brown {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  display: flex;

  box-sizing: border-box;
  width: 100%;
  height: 50px;

  color: #ffffff;
  border: none;
  background-color: #826550;

  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
