.features {
  background-color: #353535;
}

.features__container {
  position: relative;

  width: 320px;
  margin: 0 auto;

  background-color: #242424;

  &::after {
    position: absolute;
    bottom: -34px;
    left: 0;

    content: "";
    transform: rotate(180deg);

    border: 160px solid transparent;
    border-top-width: 0;
    border-bottom-width: 34px;
    border-bottom-color: #242424;
  }
}

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features__item {
  width: 235px;
  margin: 0 auto;
  padding-top: 166px;

  background-repeat: no-repeat;
  background-position: center top 42px;

  &:nth-child(1) {
    background-image: url("../img/feature-1.png");
  }

  &:nth-child(2) {
    background-image: url("../img/feature-2.png");
  }

  &:nth-child(3) {
    background-image: url("../img/feature-3.png");
  }

  &:nth-child(n+2) {
    display: none;
  }
}

.features__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;

  margin: 0;

  text-align: center;
  text-transform: uppercase;

  color: #f7f4f1;
}

.features__description {
  font-size: 20px;
  line-height: 27px;

  margin: 0;
  margin-top: 14px;

  text-align: center;

  color: #f7f4f1;
}

.slider-toogle.features__slider-toogle {
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 15px;
}

/* No-js */

@media (max-width: $mobile-size-only) {
  .no-js {
    .features__item {
      display: block;
    }

    .features__slider-toogle {
      display: none;
    }
  }
}

@media (max-width: $tablet-size-only) {

}
