@media (max-width: $mobile-size-only) {
  .main-nav {
    position: relative;
  }

  .main-nav__btn-wrapper {
    position: relative;

    width: 100%;
    min-height: 50px;

    background-color: #826550;
  }

  .main-nav__toogle {
    position: absolute;
    top: 0;
    right: 0;

    display: block;

    width: 70px;
    height: 50px;

    cursor: pointer;

    border: none;
    background-color: #6a4d38;

    &::before {
      position: absolute;
      top: 15px;
      right: 17px;

      width: 36px;
      height: 2px;

      content: "";

      background-color: #ffffff;
      box-shadow: 0 8px 0 0 #ffffff,
      0 17px 0 0 #ffffff;
    }

    &:hover {
      background-color: #624530;
    }

    &:active {
      &::before,
      &::after {
        opacity: 0.3;
      }
    }
  }

  .main-nav__toogle--open {
    top: 0;
    left: 0;

    &::before {
      top: 24px;
      right: 18px;

      width: 34px;

      transform: rotate(-45deg);

      box-shadow: none;
    }
    &::after {
      position: absolute;
      top: 24px;
      right: 18px;

      width: 34px;
      height: 2px;

      content: "";
      transform: rotate(45deg);

      background-color: #ffffff;
    }
  }

  .main-nav__items-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;

    display: none;
    flex-direction: column;

    &::before {
      position: absolute;
      z-index: 2;

      width: 8px;
      height: 100%;

      content: "";

      box-shadow: inset 6px 0 4px -2px rgba(0,0,0,0.3);
    }
  }

  .main-nav__items-wrapper--open {
    display: block;
  }

  .main-nav__site-nav {
    @include list-reset;
  }

  .main-nav__item {
    a {
      font-weight: 700;
      line-height: 24px;

      display: block;

      width: calc(100% - 22px);
      padding-top: 12px;
      padding-bottom: 14px;
      padding-left: 22px;

      text-decoration: none;
      text-transform: uppercase;

      color: #ffffff;
      border-top: 1px solid #886e5b;
      border-bottom: 1px solid #71543f;
      background-color: #826550;

      &[href]:hover {
        background-color: #755a46;
      }

      &[href]:active {
        color: rgba(255,255,255,0.3);
        border-top-color: #6a4d38;
        background-color: #6a4d38;
      }
    }

    &:first-child a {
      border-top: none;
    }
  }

  .main-nav__user-nav {
    @include list-reset;
  }

  .main-nav__user-item {
    z-index: 1;
    a {
      line-height: 24px;

      display: block;

      width: calc(100% - 49px);
      padding-top: 12px;
      padding-bottom: 14px;
      padding-left: 22px;

      text-decoration: none;

      color: #ffffff;
      background-color: #6a4d38;
    }
  }

  .main-nav__user-item {
    &:last-child {
      a {
        height: 250px;

        background-color: #6a4d38;
      }
    }
  }

  .main-nav__user-item--login {
    position: relative;

    a {
      padding-left: 49px;
    }
  }

  .main-nav__login-logo {
    position: absolute;
    top: 17px;
    left: 20px;

    opacity: 0.3;

    fill: #ffffff;
  }

  /* No js */

  .no-js {
    .main-nav__btn-wrapper {
      display: none;
    }

    .main-nav__items-wrapper {
      position: static;
      z-index: 1;

      display: flex;

      &::before {
        content: none;
      }
    }

    .main-nav__user-item {
      &:last-child {
        a {
          height: auto;
        }
      }
    }
  }
}

@media (min-width: $tablet-size) {
  .main-nav {
    min-height: 72px;

    background-color: #000000;
  }

  .main-nav__btn-wrapper {
    display: none;
  }

  .main-nav__items-wrapper {
    display: flex;
    flex-direction: row;

    width: 640px;
    min-height: 72px;
    margin: 0 auto;
    padding-right: 64px;
    padding-left: 64px;

    justify-content: space-between;
  }

  .main-nav__site-nav {
    display: flex;

    width: 560px;

    align-items: center;
    flex-wrap: wrap;
    @include list-reset;
    justify-content: space-between;
  }

  .main-nav__item {
    a {
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;

      text-decoration: none;
      text-transform: uppercase;

      color: #ffffff;

      &[href]:hover {
        color: #826550;
      }

      &[href]:active {
        color: rgba(255,255,255,0.3);
      }
      &:focus {
        color: #826550;
        outline: none;
      }
    }
  }

  .main-nav__item--current {
    position: relative;

    &::after {
      position: absolute;
      right: 0;
      bottom: -25px;
      left: 0;

      height: 3px;

      content: "";

      background-color: #826550;
    }
  }

  .main-nav__user-nav {
    display: flex;

    width: 50px;

    align-items: center;
    @include list-reset;
  }

  .main-nav__user-item--login {
    position: relative;

    display: flex;

    align-items: center;
  }

  .main-nav__login-link {
    font-size: 0;

    position: absolute;

    width: 16px;
    height: 16px;

    &:focus {
      outline: none;
    }
  }

  .main-nav__login-logo {
    pointer-events: none;

    opacity: 0.3;

    fill: #ffffff;
  }

  .main-nav__login-link:focus + .main-nav__login-logo {
    opacity: 1;

    fill: #826550;
  }

  .main-nav__login-link:hover + .main-nav__login-logo {
    opacity: 1;

    fill: #826550;
  }

  .main-nav__login-link:active + .main-nav__login-logo {
    opacity: 0.3;

    fill: #ffffff;
  }
}

@media (min-width: $desktop-size) {
  .main-nav__items-wrapper {
    width: 960px;
    padding-right: 120px;
    padding-left: 120px;
  }

  .main-nav__site-nav {
    width: 800px;
  }

  .main-nav__item {
    a {
      display: block;

      padding-top: 24px;
      padding-right: 31px;
      padding-bottom: 24px;
      padding-left: 31px;

      &[href]:hover {
        color: #000000;
        background-color: #ffffff;
      }

      &[href]:focus {
        color: #000000;
        background-color: #ffffff;
      }

      &[href]:active {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  .main-nav__item--current {
    &::after {
      right: 31px;
      bottom: -3px;
      left: 31px;
    }
  }

  .main-nav__user-nav {
    width: 130px;

    justify-content: flex-end;
  }

  .main-nav__login-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    position: static;

    display: block;

    box-sizing: border-box;
    width: 130px;
    height: auto;
    padding-top: 23px;
    padding-right: 20px;
    padding-bottom: 23px;

    text-align: right;
    text-decoration: none;
    text-transform: uppercase;

    color: #ffffff;

    order: 2;

    &:hover {
      color: #000000;
      background-color: #ffffff;
    }

    &:focus {
      color: #000000;
      background-color: #ffffff;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .main-nav__login-logo {
    position: absolute;
    top: 28px;
    right: 86px;
  }

  .main-nav__login-link:focus + .main-nav__login-logo {
    opacity: 0.3;

    fill: #000000;
  }

  .main-nav__login-link:hover + .main-nav__login-logo {
    opacity: 0.3;

    fill: #000000;
  }

  .main-nav__login-link:active + .main-nav__login-logo {
    opacity: 0.1;

    fill: #000000;
  }
}
