
.page-header__container {
  width: $mobile-size;
  margin: 0 auto;
}

.page-header__logo-container {
  display: flex;

  height: 85px;

  background-color: #242424;

  justify-content: center;
}

.page-header__logo {
  width: 226px;
  margin-top: -32px;

  &--top {
    display: none;
  }

  &--bottom {
    display: none;
  }
}

@media (min-width: $tablet-size) {
  .page-header__container {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  .page-header__logo-container {
    height: 400px;

    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: cover;

    order: 2;
  }

  .page-header__logo {
    width: 370px;
    margin-top: 40px;

    &--top {
      display: block;
    }
  }
}
