.page-footer__container {
  display: flex;
  flex-direction: column;

  width: 320px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 25px;

  background-color: #292929;
}

.page-footer__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;

  display: block;

  padding-top: 29px;

  text-align: center;

  color: #ffffff;
  border-top: 1px solid #353535;
}

.page-footer__address {
  font-size: 18px;
  line-height: 27px;

  display: block;

  margin-top: 8px;

  text-align: center;

  color: #ffffff;
}

.page-footer__tel {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;

  display: flex;

  box-sizing: border-box;
  width: 280px;
  height: 50px;
  margin: 0 auto;
  margin-top: 18px;

  text-decoration: none;

  color: #ffffff;
  border: 1px solid #3e3e3e;

  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease-in,
  color 0.3s ease-in,
  background-color 0.3s ease-in;

  &:hover {
    border-color: #515151;
  }

  &:active {
    color: rgba(255,255,255,0.3);
    border-color: #252525;
    background-color: #252525;
  }
}

.page-footer__friends {
  display: none;
}

.page-footer__social {
  display: flex;

  margin: 0;
  margin-top: 25px;
  padding: 0;

  list-style: none;
}

.page-footer__social-item {
  width: 33.33%;
  a {
    display: block;

    box-sizing: border-box;
    height: 101px;

    border: 1px solid #3e3e3e;
    background-image: url("../img/vk.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: border-color, opacity 0.3s ease-in;

    &:hover {
      border: 1px solid #535353;
    }

    &:active {
      opacity: 0.3;
      border: 1px solid #252525;
    }

    &:focus {
      border: 1px solid #535353;
      outline: none;
    }
  }

  &:nth-child(2) a {
    background-image: url("../img/fb.png");
  }

  &:nth-child(3) a {
    background-image: url("../img/insta.png");
  }

  &:nth-child(n+2) a {
    border-left-width: 0;
  }
}

.page-footer__copyright {
  margin-top: 29px;
}

.page-footer__directed-by {
  font-size: 18px;
  font-style: normal;
  line-height: 27px;

  display: block;

  text-align: center;

  color: #ffffff;
}

.page-footer__creator {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;

  display: flex;

  box-sizing: border-box;
  width: 280px;
  height: 50px;
  margin: 0 auto;
  margin-top: 12px;

  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  border: 1px solid #3e3e3e;

  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in, color 0.3s ease-in, border-color 0.3s ease-in;

  &:hover {
    border-color: #515151;
  }

  &:active {
    color: rgba(255,255,255,0.3);
    border-color: #252525;
    background-color: #252525;
  }
}

@media (min-width: $tablet-size) {
  .page-footer {
    background-color: #292929;
  }

  .page-footer__container {
    flex-direction: row;

    width: 640px;
    padding-top: 50px;
    padding-right: 64px;
    padding-bottom: 59px;
    padding-left: 64px;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-footer__address-container {
    width: 350px;
  }

  .page-footer__title {
    padding-top: 0;

    text-align: left;
    text-transform: uppercase;

    border: none;
  }

  .page-footer__address {
    margin-top: 12px;

    text-align: left;
    br {
      display: none;
    }
  }

  .page-footer__tel {
    font-weight: 400;

    display: inline;

    border: none;
  }

  .page-footer__copyright {
    margin-top: -5px;
  }

  .page-footer__creator {
    width: 160px;
  }

  .page-footer__social-container {
    width: 640px;
    margin-top: 27px;

    order: 3;
  }

  .page-footer__social {
  }
}

@media (min-width: $desktop-size) {
  .page-footer__container {
    width: 960px;
    padding-right: 120px;
    padding-left: 120px;
    justify-content: flex-start;
  }

  .page-footer__address-container {
    width: 400px;
  }

  .page-footer__social-container {
    width: 162px;
    margin-top: -5px;

    order: 0;
  }

  .page-footer__friends {
    font-size: 18px;
    line-height: 27px;

    display: block;

    text-align: center;

    color: #ffffff;
  }

  .page-footer__social {
    margin-top: 13px;

    justify-content: space-between;
  }

  .page-footer__social-item {
    width: 50px;

    a {
      height: 50px;

      background-size: 14px 18px;
    }

    &:nth-child(n+2) a {
      border-left-width: 1px;
    }

    &:nth-child(2) a {
      background-size: 10px 21px;
    }

    &:nth-child(3) a {
      background-size: 19px 19px;
    }
  }

  .page-footer__copyright {
    margin-left: auto;
  }
}
