.price-list__container {
  position: relative;

  width: 280px;
  margin: 0 auto;
  padding-top: 71px;
  padding-right: 20px;
  padding-bottom: 19px;
  padding-left: 20px;

  background-color: #353535;

  &::after {
    position: absolute;
    bottom: -33px;
    left: 0;

    content: "";
    transform: rotate(180deg);

    border: 160px solid transparent;
    border-top-width: 0;
    border-bottom-width: 34px;
    border-bottom-color: #353535;
  }
}

.price-list__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;

  margin: 0;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.price-list__table {
  margin-top: 8px;
}

.price-list__sharetime {
  margin-top: 27px;
}

@media (min-width: $tablet-size) {
  .price-list {
    background-color: #353535;
  }

  .price-list__container {
    width: 640px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 91px;
    padding-bottom: 56px;

    &::after {
      content: none;
    }
  }

  .price-list__title {
    font-size: 40px;
    text-align: left;
  }

  .price-list__table {
    margin-top: 54px;
  }

  .sharetime {
    margin-top: 9px;
  }
}

@media (min-width: $tablet-size) {
  .price-list__container {
    width: 960px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 84px;
    padding-bottom: 83px;
  }

  .price-list__content-container {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
  }

  .price-list__table {
    margin-top: 0;
  }
}
